
{% extends "base.html" %}{% load static %}{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <!-- Exercise list form -->
            <form class="workout-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- Showing the Exercise list container and progressbar -->
                    <div class="container col-12 col-md-6" id="create-workout">
                        <label for="form.title" class="form-label" >Exercise Title:</label>
                        <input type="text" name="title" id="form.title" class="fadeIn first workout-form" placeholder="Exercise Title">
                        <hr>
                        <label for="form.body" class="form-label" >Exercise description:</label>
                        <textarea name="body" id="form.body" class="fadeIn third workout-form" rows="6"
                        placeholder="Exercise description"></textarea>
                        <hr>
                        <label for="form.exercise_image" class="form-label" >exercise_image:</label>
                        <input type="file" name="exercise_image" id="form.exercise_image" class="fadeIn first workout-form" placeholder="exercise_image">
                        <hr>
                        <label for="form.exercise_muscle_group" class="form-label" >exercise_muscle_group:</label>
                        <input type="file" name="exercise_muscle_group" id="form.exercise_muscle_group" class="fadeIn first workout-form" placeholder="exercise_muscle_group">
                        <hr>
                        <input type="submit" id="create-text" class="fadeIn sixth create-workout" value="Create Exercise!">

                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <h3 class="text-center">Please login or sign up to an account to be able to make a booking</h3>
    {% endif %}
{%endblock%}
