{% extends 'base.html' %} {% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Showing the Exercise list container and progressbar -->
        <div class="container col-12 col-md-3" id="exercise-list">
            <div class="row g-2">
                <div class="workout-title">
                    {{ workout.title }}:
                </div>
                <hr>
                {% for exercise in exercises %}
                    {% if exercise.exercise_number == 1 %}

                        <div class="checkbox selected" id="{{exercise.slug}}">
                            <label><input type="checkbox" value=""></label>
                            <label class="exercise-label" > {{ exercise.title}}</label>
                            <hr>
                        </div>
                    {% else %}
                        <div class="checkbox" id="{{exercise.slug}}">
                            <label><input type="checkbox" value=""></label>
                            <label class="exercise-label" > {{ exercise.title}}</label>
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- {% firstof exercise.exercise_completed %} -->
            </div>
            <div id="progressbar">
                progressbar
            </div>
        </div>
        <div class="container col-12 col-md-6 exercise-details">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
            {% for exercise in exercises %}
                {% if exercise.exercise_number == 1 %}
                    <div class="exercise {{exercise.slug}}">
                        <h3 class="exercise-title">{{exercise.title}}</h3>
                        <div id="exercise-body">
                            {{exercise.body}}
                        </div>
                        
                        {% if "placeholder" in exercise.exercise_image.url %}
                        <img class="exercise-image" src="{% static 'images/placeholder.jpg' %}" width="40%">
                        <img class="exercise-muscle-group" src="{% static 'images/placeholder.jpg' %}" width="40%">
                        {% else %}
                        <img class="exercise-image" src="{{ exercise.exercise_image.url }}" width="40%">
                        <img class="exercise-muscle-group" src="{{ exercise.exercise_muscle_group.url }}" width="40%">
                        {% endif %}
                        <hr>

                    </div>
                {% else %}
                <div class="hidden exercise {{exercise.slug}}">
                    <h3 class="exercise-title">{{exercise.title}}</h3>
                    <div id="exercise-body">
                        {{exercise.body}}
                    </div>
                    
                    {% if "placeholder" in exercise.exercise_image.url %}
                        <img class="exercise-image" src="{% static 'images/placeholder.jpg' %}" width="40%">
                        <img class="exercise-muscle-group" src="{% static 'images/placeholder.jpg' %}" width="40%">
                    {% else %}
                        <img class="exercise-image" src="{{ exercise.exercise_image.url }}" width="40%">
                        <img class="exercise-muscle-group" src="{{ exercise.exercise_muscle_group.url }}" width="40%">
                    {% endif %}
                    <hr>

                </div>
                {% endif %}
                <!-- Our for loop ends here -->
            {% endfor %}

        </div>


        <div class="container col-12 col-md-6 offset-md-8 complete-workout">
            <button type = "submit"> Complete Workout!</button>
        </div>
    </div>
</div>

{% endblock content %}
