{% extends 'base.html' %} {% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Showing the Exercise list container and progressbar -->
        <div class="container col-12 col-md-3" id="exercise-list">
            <div class="row">
                <div class="workout-title">
                    {{ workout.title }}:
                </div>
                <hr>
                {% for exercise in exercises %}
                    {% if exercise.exercise_number == 1 %}
                        <div class="checkbox selected exercise-label" id="{{exercise.slug}}">
                            <input type="checkbox" value=""> {{ exercise.title }}
                            <hr>
                        </div>
                    {% else %}
                        <div class="checkbox exercise-label" id="{{exercise.slug}}">
                            <input type="checkbox" value=""> {{ exercise.title }}
                                <hr>
                            </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- Showing selected Exercise details on right side -->
        <div class="container col-12 col-md-6 exercise-details">
            {% for exercise in exercises %}
                <!-- First Exercise is auto marked as selected and rest hidden -->
                {% if exercise.exercise_number == 1 %}
                    <div class="exercise {{exercise.slug}}">
                        <h3 class="exercise-title">{{exercise.title}}</h3>
                        <div id="exercise-body">
                            {{exercise.body}}
                            {{exercise.exercise_number}}
                        </div>
                        
                        {% if "placeholder" in exercise.exercise_image.url %}
                            <img class="exercise-image" src="{% static 'images/placeholder.jpg' %}" width="40%" alt="Placeholder image of barbell">
                        {% else %}
                            <img class="exercise-image" src="{{ exercise.exercise_image.url }}" width="40%" alt="User choosen workout image">
                        {% endif %}
                        {% if "placeholder" in exercise.exercise_muscle_group.url %}
                            <img class="exercise-muscle-group" src="{% static 'images/placeholder.jpg' %}" width="40%" alt="Placeholder image of barbell">
                        {% else %}
                            <img class="exercise-muscle-group" src="{{ exercise.exercise_muscle_group.url }}" width="40%" alt="User choosen workout image">
                        {% endif %}
                        <hr>

                    </div>
                {% else %}
                    <div class="hidden exercise {{exercise.slug}}">
                        <h3 class="exercise-title">{{exercise.title}}</h3>
                        <div id="exercise-body">
                            {{exercise.body}}
                            {{exercise.exercise_number}}
                        </div>
                            {% if "placeholder" in exercise.exercise_image.url %}
                                <img class="exercise-image" src="{% static 'images/placeholder.jpg' %}" width="40%" alt="Placeholder image of barbell">
                            {% else %}
                                <img class="exercise-image" src="{{ exercise.exercise_image.url }}" width="40%" alt="User choosen workout image">
                            {% endif %}
                            {% if "placeholder" in exercise.exercise_muscle_group.url %}
                                <img class="exercise-muscle-group" src="{% static 'images/placeholder.jpg' %}" width="40%" alt="Placeholder image of barbell">
                            {% else %}
                                <img class="exercise-muscle-group" src="{{ exercise.exercise_muscle_group.url }}" width="40%" alt="User choosen workout image">
                            {% endif %}
                        <hr>
                    </div>
                {% endif %}
                <!-- Our for loop ends here -->
            {% endfor %}
        </div>
        <hr>
        <div class="container col-12 col-md-6 offset-md-1 complete-workout">
            {% if user.is_authenticated %}
            {% if user == workout.creator or user.is_superuser  %}
            <div>
                <a id="edit-button" class="btn btn-info" href="{% url 'update_workout' workout.id %}">Edit Workout</a>
                <a id="del-button" class="btn btn-danger" href="{% url 'delete_workout' workout.id %}">Delete Workout</a>
            </div><br>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
